In [5]:
import pandas as pd

In [6]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

df = pd.read_csv("../data.txt",sep=';')

C:\Users\nagrimault\AppData\Local\Temp\ipykernel_15804\2009659114.py:4: DtypeWarning: Columns (1,2,5,6,7,8,9,15,16,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data.txt",sep=';')

In [7]:
df.head()

,ZIBZIN,IDAvisAutorisationCheque,FlagImpaye,Montant,DateTransaction,CodeDecision,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,ScoringFP1,ScoringFP2,ScoringFP3,TauxImpNb_RB,TauxImpNB_CPM,EcartNumCheq,NbrMagasin3J,DiffDateTr1,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure
0,A013010004908126703060931,78643044,0,20,2017-02-01 07:32:14,1,0,0,0,551,0,0,0,"37,186667890919111","52,076033757361408",0,1,4,4,4,20,0,27134
1,A013011306908024927155000,78643045,0,20,2017-02-01 07:43:37,1,0,0,0,551,0,0,0,"48,844716275908937","52,076033757361408",1,2,"1,7976851851851852",4,4,"28,609999999999999","8,6099999999999994",27817
2,A013010002908283134592527,78643046,0,"57,640000000000001",2017-02-01 07:47:38,1,0,0,0,549,0,0,0,"73,118279569892479","52,076033757361408",0,1,4,4,4,"57,640000000000001",0,28058
3,A011010002908105209831316,78643047,0,"54,289999999999999",2017-02-01 07:48:48,0,1,1,1,267,0,0,0,"110,05692599620494","53,554233554497365",0,1,4,4,4,"54,289999999999999",0,28128
4,A013010041908000125652029,78643048,0,"26,899999999999999",2017-02-01 08:13:27,1,0,0,0,549,"3,769090654336556E-3","8,5863334286662614","1,1922637097134124E-3","45,36831264567185","52,076033757361408",1,1,"1,9971064814814814",4,4,"59,149999999999999","32,25",29607

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4646774 entries, 0 to 4646773
Data columns (total 23 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ZIBZIN                    object
 1   IDAvisAutorisationCheque  object
 2   FlagImpaye                object
 3   Montant                   object
 4   DateTransaction           object
 5   CodeDecision              object
 6   VerifianceCPT1            object
 7   VerifianceCPT2            object
 8   VerifianceCPT3            object
 9   D2CB                      object
 10  ScoringFP1                object
 11  ScoringFP2                object
 12  ScoringFP3                object
 13  TauxImpNb_RB              object
 14  TauxImpNB_CPM             object
 15  EcartNumCheq              object
 16  NbrMagasin3J              object
 17  DiffDateTr1               object
 18  DiffDateTr2               object
 19  DiffDateTr3               object
 20  CA3TRetMtt                object
 21  CA3TR                     object
 22  Heure                     object
dtypes: object(23)
memory usage: 815.4+ MB

# Missing Values

In [9]:
missing_values_count = df.isnull().sum()
missing_values_percentage = (missing_values_count / len(df)) * 100
print(missing_values_percentage)

ZIBZIN                      0.0
IDAvisAutorisationCheque    0.0
FlagImpaye                  0.0
Montant                     0.0
DateTransaction             0.0
CodeDecision                0.0
VerifianceCPT1              0.0
VerifianceCPT2              0.0
VerifianceCPT3              0.0
D2CB                        0.0
ScoringFP1                  0.0
ScoringFP2                  0.0
ScoringFP3                  0.0
TauxImpNb_RB                0.0
TauxImpNB_CPM               0.0
EcartNumCheq                0.0
NbrMagasin3J                0.0
DiffDateTr1                 0.0
DiffDateTr2                 0.0
DiffDateTr3                 0.0
CA3TRetMtt                  0.0
CA3TR                       0.0
Heure                       0.0
dtype: float64

In [10]:
# Liste des colonnes à convertir en numérique
numeric_cols = ['VerifianceCPT1', 'VerifianceCPT2', 'VerifianceCPT3', 'D2CB',"ScoringFP1",
                'ScoringFP2', 'ScoringFP3', 'TauxImpNb_RB', 'TauxImpNB_CPM', 'EcartNumCheq',
                'NbrMagasin3J', 'DiffDateTr1', 'DiffDateTr2', 'DiffDateTr3', 'CA3TRetMtt', 'CA3TR', 'Montant']



df[numeric_cols] = df[numeric_cols].astype(str)

df[numeric_cols] = df[numeric_cols].apply(lambda x: x.str.replace(',', '.'))

# Convertir les colonnes en types numériques
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [11]:
df.dropna(subset=['VerifianceCPT1'], inplace=True)

In [12]:
df.head()

,ZIBZIN,IDAvisAutorisationCheque,FlagImpaye,Montant,DateTransaction,CodeDecision,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,ScoringFP1,ScoringFP2,ScoringFP3,TauxImpNb_RB,TauxImpNB_CPM,EcartNumCheq,NbrMagasin3J,DiffDateTr1,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure
0,A013010004908126703060931,78643044,0,20.00,2017-02-01 07:32:14,1,0.0,0.0,0.0,551.0,0.000000,0.000000,0.000000,37.186668,52.076034,0.0,1.0,4.000000,4.0,4.0,20.00,0.00,27134
1,A013011306908024927155000,78643045,0,20.00,2017-02-01 07:43:37,1,0.0,0.0,0.0,551.0,0.000000,0.000000,0.000000,48.844716,52.076034,1.0,2.0,1.797685,4.0,4.0,28.61,8.61,27817
2,A013010002908283134592527,78643046,0,57.64,2017-02-01 07:47:38,1,0.0,0.0,0.0,549.0,0.000000,0.000000,0.000000,73.118280,52.076034,0.0,1.0,4.000000,4.0,4.0,57.64,0.00,28058
3,A011010002908105209831316,78643047,0,54.29,2017-02-01 07:48:48,0,1.0,1.0,1.0,267.0,0.000000,0.000000,0.000000,110.056926,53.554234,0.0,1.0,4.000000,4.0,4.0,54.29,0.00,28128
4,A013010041908000125652029,78643048,0,26.90,2017-02-01 08:13:27,1,0.0,0.0,0.0,549.0,0.003769,8.586333,0.001192,45.368313,52.076034,1.0,1.0,1.997106,4.0,4.0,59.15,32.25,29607

In [13]:
df['VerifianceCPT1'] = pd.to_numeric(df['VerifianceCPT1'], errors='coerce').astype(int)
df['VerifianceCPT2'] = pd.to_numeric(df['VerifianceCPT2'], errors='coerce').astype(int)
df['VerifianceCPT3'] = pd.to_numeric(df['VerifianceCPT3'], errors='coerce').astype(int)


            
df['EcartNumCheq'] = pd.to_numeric(df['EcartNumCheq'], errors='coerce').astype(int)
df['NbrMagasin3J'] = pd.to_numeric(df['NbrMagasin3J'], errors='coerce').astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4646773 entries, 0 to 4646773
Data columns (total 23 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ZIBZIN                    object
 1   IDAvisAutorisationCheque  object
 2   FlagImpaye                object
 3   Montant                   float64
 4   DateTransaction           object
 5   CodeDecision              object
 6   VerifianceCPT1            int32
 7   VerifianceCPT2            int32
 8   VerifianceCPT3            int32
 9   D2CB                      float64
 10  ScoringFP1                float64
 11  ScoringFP2                float64
 12  ScoringFP3                float64
 13  TauxImpNb_RB              float64
 14  TauxImpNB_CPM             float64
 15  EcartNumCheq              int32
 16  NbrMagasin3J              int32
 17  DiffDateTr1               float64
 18  DiffDateTr2               float64
 19  DiffDateTr3               float64
 20  CA3TRetMtt                float64
 21  CA3TR                     float64
 22  Heure                     object
dtypes: float64(12), int32(5), object(6)
memory usage: 762.2+ MB

In [15]:
df['DateTransaction'] = pd.to_datetime(df['DateTransaction'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

# Créez de nouvelles colonnes pour le jour, le mois et l'année, ainsi que l'heure, la minute et la seconde
df['Jour'] = df['DateTransaction'].dt.day
df['Jour'] = df['Jour'].fillna(0).astype(int)
df['Mois'] = df['DateTransaction'].dt.month
df['Mois'] = df['Mois'].fillna(0).astype(int)


# Créez une nouvelle colonne 'Date' en combinant les composants jour, mois et année
df['Date'] = df['DateTransaction'].dt.date

# Supprimez la colonne originale 'DateTransaction' si vous ne souhaitez plus la conserver
df = df.drop(['DateTransaction'], axis=1)

In [16]:
df.head()

,ZIBZIN,IDAvisAutorisationCheque,FlagImpaye,Montant,CodeDecision,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,ScoringFP1,ScoringFP2,ScoringFP3,TauxImpNb_RB,TauxImpNB_CPM,EcartNumCheq,NbrMagasin3J,DiffDateTr1,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure,Jour,Mois,Date
0,A013010004908126703060931,78643044,0,20.00,1,0,0,0,551.0,0.000000,0.000000,0.000000,37.186668,52.076034,0,1,4.000000,4.0,4.0,20.00,0.00,27134,1,2,2017-02-01
1,A013011306908024927155000,78643045,0,20.00,1,0,0,0,551.0,0.000000,0.000000,0.000000,48.844716,52.076034,1,2,1.797685,4.0,4.0,28.61,8.61,27817,1,2,2017-02-01
2,A013010002908283134592527,78643046,0,57.64,1,0,0,0,549.0,0.000000,0.000000,0.000000,73.118280,52.076034,0,1,4.000000,4.0,4.0,57.64,0.00,28058,1,2,2017-02-01
3,A011010002908105209831316,78643047,0,54.29,0,1,1,1,267.0,0.000000,0.000000,0.000000,110.056926,53.554234,0,1,4.000000,4.0,4.0,54.29,0.00,28128,1,2,2017-02-01
4,A013010041908000125652029,78643048,0,26.90,1,0,0,0,549.0,0.003769,8.586333,0.001192,45.368313,52.076034,1,1,1.997106,4.0,4.0,59.15,32.25,29607,1,2,2017-02-01

In [17]:
df.describe()

,Montant,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,ScoringFP1,ScoringFP2,ScoringFP3,TauxImpNb_RB,TauxImpNB_CPM,EcartNumCheq,NbrMagasin3J,DiffDateTr1,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Jour,Mois
count,4.646773e+06,4.646773e+06,4.646773e+06,4.646773e+06,4.646773e+06,4.646773e+06,4.646773e+06,4.646773e+06,4.646773e+06,4.646773e+06,4.646773e+06,4.646773e+06,4.646773e+06,4.646773e+06,4.646773e+06,4.646773e+06,4.646773e+06,4.646773e+06,4.646773e+06
mean,6.014214e+01,2.295272e-01,2.452963e-01,2.716444e-01,3.139046e+02,2.217686e+00,2.033179e+00,1.373319e-01,3.912727e+01,3.850640e+01,8.480311e+03,1.036989e+00,3.873620e+00,4.166527e+00,4.199614e+00,6.730030e+01,7.158162e+00,1.585470e+01,5.034920e+00
std,1.019927e+02,4.422162e-01,4.965438e-01,5.812737e-01,2.207225e+02,2.709370e+01,9.715521e+00,4.867118e-01,6.011574e+01,1.673441e+01,1.982303e+05,1.920397e-01,1.059257e+00,5.171843e-01,4.242342e-01,1.114365e+02,3.860036e+01,9.011526e+00,2.752614e+00
min,1.000000e-02,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,-6.446148e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,3.703704e-04,7.754630e-04,1.000000e-02,0.000000e+00,1.000000e+00,2.000000e+00
25%,2.598000e+01,0.000000e+00,0.000000e+00,0.000000e+00,4.900000e+01,5.631127e-03,-1.481721e+00,1.185316e-03,2.223457e+01,2.875694e+01,0.000000e+00,1.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,2.940000e+01,0.000000e+00,8.000000e+00,3.000000e+00
50%,4.412000e+01,0.000000e+00,0.000000e+00,0.000000e+00,3.870000e+02,1.096892e-02,1.636853e-01,1.728123e-03,3.433578e+01,3.681303e+01,0.000000e+00,1.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.941000e+01,0.000000e+00,1.600000e+01,4.000000e+00
75%,7.304000e+01,0.000000e+00,0.000000e+00,0.000000e+00,5.320000e+02,4.344551e-02,7.354217e+00,5.157858e-03,4.658322e+01,5.088256e+01,0.000000e+00,1.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,8.282000e+01,0.000000e+00,2.400000e+01,7.000000e+00
max,1.212600e+05,1.600000e+01,2.600000e+01,3.200000e+01,5.510000e+02,2.049888e+04,5.240133e+01,1.649094e+01,1.000000e+04,1.276970e+02,9.956167e+06,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,1.212600e+05,1.560000e+04,3.100000e+01,1.100000e+01

# Supprimer ligne de header doublée

In [18]:
index_flag_impaye = df[df['FlagImpaye'] == 'FlagImpaye'].index
print(df.loc[index_flag_impaye])
index_flag_impaye = df[df['FlagImpaye'] == 'FlagImpaye'].index

# Supprimer les lignes correspondantes
df = df.drop(index_flag_impaye)

Empty DataFrame
Columns: [ZIBZIN, IDAvisAutorisationCheque, FlagImpaye, Montant, CodeDecision, VerifianceCPT1, VerifianceCPT2, VerifianceCPT3, D2CB, ScoringFP1, ScoringFP2, ScoringFP3, TauxImpNb_RB, TauxImpNB_CPM, EcartNumCheq, NbrMagasin3J, DiffDateTr1, DiffDateTr2, DiffDateTr3, CA3TRetMtt, CA3TR, Heure, Jour, Mois, Date]
Index: []

# Recoder en objet les objets

In [19]:
df['FlagImpaye'] = pd.to_numeric(df['FlagImpaye'], errors='coerce').astype(object)
df['FlagImpaye'].value_counts()

FlagImpaye
0    4616778
1      29995
Name: count, dtype: int64

In [20]:
df['CodeDecision'] = pd.to_numeric(df['CodeDecision'], errors='coerce').astype(object)
df['CodeDecision'].value_counts()

CodeDecision
0    3502786
1    1121626
2      19562
3       2798
4          1
Name: count, dtype: int64

In [21]:
# Vérifier le type de données après la conversion
print(df.dtypes)

ZIBZIN                       object
IDAvisAutorisationCheque     object
FlagImpaye                   object
Montant                     float64
CodeDecision                 object
VerifianceCPT1                int32
VerifianceCPT2                int32
VerifianceCPT3                int32
D2CB                        float64
ScoringFP1                  float64
ScoringFP2                  float64
ScoringFP3                  float64
TauxImpNb_RB                float64
TauxImpNB_CPM               float64
EcartNumCheq                  int32
NbrMagasin3J                  int32
DiffDateTr1                 float64
DiffDateTr2                 float64
DiffDateTr3                 float64
CA3TRetMtt                  float64
CA3TR                       float64
Heure                        object
Jour                          int32
Mois                          int32
Date                         object
dtype: object

# SAVE DATAFRAME

In [27]:
df.to_csv('../data/dataframe_clean.csv', index=False)