In [35]:
import pandas as pd

In [36]:
pd.set_option('display.max_columns', 500)

df = pd.read_csv("guillaume.txt",sep=';')

C:\Users\vsigogneau\AppData\Local\Temp\ipykernel_3932\1736366370.py:3: DtypeWarning: Columns (1,2,5,6,7,8,9,15,16,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("guillaume.txt",sep=';')

In [37]:
df_save = df

In [38]:
df.head()

,ZIBZIN,IDAvisAutorisationCheque,FlagImpaye,Montant,DateTransaction,CodeDecision,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,ScoringFP1,ScoringFP2,ScoringFP3,TauxImpNb_RB,TauxImpNB_CPM,EcartNumCheq,NbrMagasin3J,DiffDateTr1,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure
0,A013010004908126703060931,78643044,0,20,2017-02-01 07:32:14,1,0,0,0,551,0,0,0,"37,186667890919111","52,076033757361408",0,1,4,4,4,20,0,27134
1,A013011306908024927155000,78643045,0,20,2017-02-01 07:43:37,1,0,0,0,551,0,0,0,"48,844716275908937","52,076033757361408",1,2,"1,7976851851851852",4,4,"28,609999999999999","8,6099999999999994",27817
2,A013010002908283134592527,78643046,0,"57,640000000000001",2017-02-01 07:47:38,1,0,0,0,549,0,0,0,"73,118279569892479","52,076033757361408",0,1,4,4,4,"57,640000000000001",0,28058
3,A011010002908105209831316,78643047,0,"54,289999999999999",2017-02-01 07:48:48,0,1,1,1,267,0,0,0,"110,05692599620494","53,554233554497365",0,1,4,4,4,"54,289999999999999",0,28128
4,A013010041908000125652029,78643048,0,"26,899999999999999",2017-02-01 08:13:27,1,0,0,0,549,"3,769090654336556E-3","8,5863334286662614","1,1922637097134124E-3","45,36831264567185","52,076033757361408",1,1,"1,9971064814814814",4,4,"59,149999999999999","32,25",29607

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4646774 entries, 0 to 4646773
Data columns (total 23 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ZIBZIN                    object
 1   IDAvisAutorisationCheque  object
 2   FlagImpaye                object
 3   Montant                   object
 4   DateTransaction           object
 5   CodeDecision              object
 6   VerifianceCPT1            object
 7   VerifianceCPT2            object
 8   VerifianceCPT3            object
 9   D2CB                      object
 10  ScoringFP1                object
 11  ScoringFP2                object
 12  ScoringFP3                object
 13  TauxImpNb_RB              object
 14  TauxImpNB_CPM             object
 15  EcartNumCheq              object
 16  NbrMagasin3J              object
 17  DiffDateTr1               object
 18  DiffDateTr2               object
 19  DiffDateTr3               object
 20  CA3TRetMtt                object
 21  CA3TR                     object
 22  Heure                     object
dtypes: object(23)
memory usage: 815.4+ MB

In [40]:
df['Montant'] = df['Montant'].str.replace(',','.') 

# Liste des colonnes à convertir en numérique
numeric_cols = ['VerifianceCPT1', 'VerifianceCPT2', 'VerifianceCPT3', 'D2CB', 'ScoringFP1',
                'ScoringFP2', 'ScoringFP3', 'TauxImpNb_RB', 'TauxImpNB_CPM', 'EcartNumCheq',
                'NbrMagasin3J', 'DiffDateTr1', 'DiffDateTr2', 'DiffDateTr3', 'CA3TRetMtt', 'CA3TR', 'Montant']

# Convertir les colonnes en types numériques
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [41]:
import pandas as pd

# Supposons que votre DataFrame s'appelle df
# Convertissez la colonne 'DateTransaction' en type datetime
df['DateTransaction'] = pd.to_datetime(df['DateTransaction'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

# Créez de nouvelles colonnes pour le jour, le mois et l'année
df['Jour'] = df['DateTransaction'].dt.day
df['Mois'] = df['DateTransaction'].dt.month
df['Année'] = df['DateTransaction'].dt.year
df['Heure2'] = df['DateTransaction'].dt.hour
df['Minute'] = df['DateTransaction'].dt.minute
df['Seconde'] = df['DateTransaction'].dt.second

In [42]:
df.head()

,ZIBZIN,IDAvisAutorisationCheque,FlagImpaye,Montant,DateTransaction,CodeDecision,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,ScoringFP1,ScoringFP2,ScoringFP3,TauxImpNb_RB,TauxImpNB_CPM,EcartNumCheq,NbrMagasin3J,DiffDateTr1,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure,Jour,Mois,Année,Heure2,Minute,Seconde
0,A013010004908126703060931,78643044,0,20.00,2017-02-01 07:32:14,1,0.0,0.0,0.0,551.0,0.0,0.0,0.0,NaN,NaN,0.0,1.0,4.0,4.0,4.0,20.0,0.0,27134,1.0,2.0,2017.0,7.0,32.0,14.0
1,A013011306908024927155000,78643045,0,20.00,2017-02-01 07:43:37,1,0.0,0.0,0.0,551.0,0.0,0.0,0.0,NaN,NaN,1.0,2.0,NaN,4.0,4.0,NaN,NaN,27817,1.0,2.0,2017.0,7.0,43.0,37.0
2,A013010002908283134592527,78643046,0,57.64,2017-02-01 07:47:38,1,0.0,0.0,0.0,549.0,0.0,0.0,0.0,NaN,NaN,0.0,1.0,4.0,4.0,4.0,NaN,0.0,28058,1.0,2.0,2017.0,7.0,47.0,38.0
3,A011010002908105209831316,78643047,0,54.29,2017-02-01 07:48:48,0,1.0,1.0,1.0,267.0,0.0,0.0,0.0,NaN,NaN,0.0,1.0,4.0,4.0,4.0,NaN,0.0,28128,1.0,2.0,2017.0,7.0,48.0,48.0
4,A013010041908000125652029,78643048,0,26.90,2017-02-01 08:13:27,1,0.0,0.0,0.0,549.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,4.0,4.0,NaN,NaN,29607,1.0,2.0,2017.0,8.0,13.0,27.0